*{
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    min-height: 100vh;
    background: #e9e9e9;
    background-image: url(teach_stud_default-ef51b1e5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* position: fixed; */
}
main .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f2f2f2;
    padding: 5px 20px;
    box-shadow: 1px 2px  rgba(0, 0, 0, 0.1);
}

main .nav img{
    width: 150px;
}

.nav-left{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-left ul li{
    list-style: none;
    display: inline-block;
    margin-left: 18px;
}
.nav-left ul li a{
    text-decoration: none;
}
.nav-left button{
    background: #1368ce;
    border: none;
    outline: none;
    padding: 8px 18px;
    color: white;
    font-size: 20px;
    font-family: 700;
    border-radius: 5px;
    cursor: pointer;
}

.bi-star-fill{
    font-size: 20px;
    color: white;
    background: #028282;
    padding: 2px 5px;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.bi-person-fill {
    font-size: 20px;
    color: white;
    background: #028282;
    padding: 2px 5px;
    border-radius: 50%;
    height: 60px;
    width: 60PX;
}

.bi-bell-fill{
    font-size: 20px;
    color: white;
    background: #028282;
    padding: 2px 5px;
    border-radius: 50%;
    height: 30px;
    width: 30px; 
}

.nav-left span{
    background: #f2f2f2;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 700;
    color: #a4b4b4;
}

.search{
    width: 500px;
    height: 45px;
    position: absolute;
    margin-left: 180px;
    } 
    .search input{
        position: absolute;
        width: 100%;
        height: 90%;
        left: 0;
        border-radius: 10px;
        outline: none;
        font-size: 25px;
        font-family: 'Times New Roman', Times, serif;
        padding: 25px;
        border: none;
        background: #ccc;
    }
    .search span{
        position: absolute;
        z-index: 1;
        font-size: 21px;
        top: 6px;
        right: 0;
        font-family: 700;
        background: gray;
        border-radius: 10px;
        padding: 5px 18px;
    }

.container{
    /* display: flex; */
    
}

.left-sidebar{
        position: fixed;
        left: 0;
        top: 96px;
        width: 280px;
        height: 100vh;
        background: #f2f2f2;
        flex-basis: 25%;
        font-family:sans-serif;
        align-self: flex-start;
        box-shadow: rgba(0, 0, 0, 0.2)
}
.quiz-content{
    width: 220px;
    height: 150px;
    background: white;
    border: 4px solid blue;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
}
.quiz-content b{
    font-size: 15px;
    text-align: center;
    margin: 20px;
    margin-top: 20px;
}
.box-quiz img{
    width: 30px;
}
.box-quiz{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}
.box-quiz span{
    background: #028282;
    border-radius: 50%;
    padding: 10px;
    height: 30px;
    width: 30px;
}
.down-content{
    margin: 30px;

}
.down-content .btn{
    width: 200px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: #FFFFFF;
    background-color: RGB(18, 96, 190);
    margin: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.171);
    transition: 0.2s;  
    cursor: pointer;
}
.down-content .bna{
    width: 200px;
    height: 50px;
    margin: 10px;
    font-size: 18px;
    font-weight: 700;
    color: #000000;
    background: RGB(223, 223, 223);
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.171);
    transition: 0.2s;  
    cursor: pointer;
}
.down-content .btn:hover{
    transform: scaleY(0.9);
}
.down-content .bna:hover{
    transform: scaleY(0.9);
}


.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.center-content{
    width: 100%;
    margin-left: 300px;
    margin-top: 5vh;
}

.box-content{
    width: 500px;
    height: 350px;
    background: #eaf4fc;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.171);
   
}
.story-info{
    position: relative;
    
    
}
.story-info img{
   width: 200px;

}
.story-info img{
    width: 40px;
}
.story-info button{
    width: 80px;
    height:80px;
    background: white;
    border: none;
    border-radius: 10px;
    margin-left: 210px;
    margin-top: 110px;
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.171);
    transition: 0.2s;
    cursor: pointer;
}
.story-info button:hover{
    background: #cccccc;
}
.story-info p{
    text-align: center;
    font-size: 35px;
    margin-top: 20px;
    color: #6e6e6e;
    font-family: 700;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
p{
    text-align: center;
    font-size: 18px;   
}
p a{
    text-decoration: none;
    color: #6e6e6e;
}
.story1{
    background-image: url(media\ 2.svg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 250px;
}
.style-answer{
    margin: auto;
    margin-top: 80px;
}
.style-answer input{
    width: 45%;
    height: 100px;
    margin: 10px 20px;
    border-radius: 5px;
    border: none;
    outline: none;
    cursor: pointer;
}

